body{
     background-image: url("assets/images/fbg.jpg") ;
      background-size: cover;
      height: 100%;
      overflow: hidden;
	}

#ah1{
    	padding-top: 10px;
    	padding-bottom: 0px;
		text-align: center;
		font-size: 90px;
		margin: 0px;
		border: 0px;
	}


div{
	text-align: center;
	padding-right: 20%;
	padding-left: 20%;
}


#ap{
	padding-top: 0px;
	float: right;
	font-size: 24px;
}

#aimg{
	margin: auto;
	height: 250px;
	width: 320px;
}