body{
     background-image: url("assets/images/fbg.jpg") ;
      background-size: cover;
      height: 100%;
      overflow: hidden;
      text-align: center;
	}

	#hh1 {
		float: right;
		font-size: 70px;
		color: white;
		padding-right: 45%;
		padding-top: 25%;
		margin: 0px;
		border: 0px;
		
	}

	#hp{
		float: right;
		padding-top: 63%;
		padding-left: 12%;
		padding-right: 0%;
		padding-bottom: 6%;
		font-size: 25px;
	}

	#himg {
		float: left;
		padding-left: 7%;
		height : 330px;
		width: 450px;
		padding-top: 50%;
		border: 0px;

	}